[submodule "content"]
	path = content
    url = https://github.com/seisman/seisman.info.posts.git
	branch = master
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/seisman/hugo-theme-even.git
	branch = seisman
